body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #ff865b !important;
}

#contenedor {
    width: 80%;
    border: 2px solid white;
    padding: 20px;
    margin-top: 10px;
    background-color: black;
}
h1 {
   
    font-family: "Cooper Black";      
    color: white;
    text-align: center;
}

.img {
    height: 200px;
    border: 2px solid white;
    float:right;
}

.contenido {
    color: white;
    font-family: Century Gothic;
    height: 250px;
    h1 {
        font-size: 2.5em;
    }
}

#zona-imagenes {
    img {
    width: 25%;
    }
    width: 100%;
    border: 2px solid black;
    background-color:white;
    text-align: center;
}


#final {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
    color: black;
    background: white;
    padding: 10px;
}
